@media screen and (max-width: 800px) {
    .services_description p{
        width: 90%;
        margin: 0 auto;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
      
    }
    .modal {
        width: 400px;
        height: 100vh;
        padding: 20px;
        
      
       position: absolute;
       top: 120px;
       left:20px;
        display: flex;
       
        animation: modal 2s 3s forwards;
        visibility: hidden;
        opacity: 0;
        border-radius: 5px;
    }   .contenido {
        width: 400px;
        height: 350px;
        padding: 20px;
        
      
       position: absolute;
       top: 0;
       left:0;
        display: flex;
        flex-wrap: wrap;
        animation: modal 2s 3s forwards;
        visibility: hidden;
        opacity: 0;
        border-radius: 5px;
    }
    #cerrar + label {
        position: absolute;
        color: #fff;
        font-size: 25px;
        z-index: 50;
        background: #0d0d08;
        height: 40px;
        width: 370px;
        line-height: 40px;
        text-align: center;
        left: 35px;
        top: 370px;
        cursor: pointer;
        
        animation: modal 1s 2s forwards;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ;
    }
    
    .row_services_col_team{
        width: 70%;
       
        display: flex;
    
        margin: auto;
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: center;
    }
    .row_services_col_team section{
        width: 100%;
        margin-bottom: 100px;
        margin-left: 8%;
    }
    .row_services_col4{
        width: 70%;
       
        display: flex;
    
        margin: auto;
        flex-wrap: wrap;
        margin-top: 10px;
       
    }
    .row_services_col4 section{
        width: 100%;
        margin-bottom: 100px;
        margin-left: 8%;
    }


    .row_services_col3{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        margin-top: 50px;
    }
    .row_services_col3 section{
        width: 100%;
        margin-bottom: 100px;
    }
    .row_services_column2{
        background-color: #ffd32a;
        width: 90%;
       height: 330px;
       display: flex;
       justify-content: center;
      flex-wrap: wrap;
        margin: auto;
       padding: 30px;
    }


    .row_services{
        width: 90%;
       
        display: flex;
        justify-content: center;
       flex-wrap: wrap;
    }
    .row_services .itemyellow{
        background-color: transparent;
       
    }
    .row_services section{
        width: 100%;
        margin-bottom: 100px;
       
    }
    .row_services_column2 section{
        width: 100%;
    }

    .articles_children{
        display: flex;
        align-items: center;
       flex-wrap: wrap;
    }
    .articles_children img{
        width: 100%;
    } .articles_children p{
        width: 100%;
    }
    .bannerclientes{
        background-image: url(img/clientesRD.png);
    }
    footer .main{
        width: 100%;
        display: flex;
      flex-wrap: wrap;
    }
    footer .main .right p{
    padding: 10px;
    }
    footer .main .right{
        width: 100%;
    }
    footer .main .social{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    footer .main .autor{
        width: 100%;

    }
    footer .main .autor p{
        width: 100%;
        text-align: center;
    }
    footer .barNav{
        width: 90%;
        margin: 0 auto;
        display: flex;
       flex-direction: column;
       justify-content: center;
    }footer .barNav a{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        text-decoration: none;
    }


    .container{
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        
    }
   
    .container h1{
        width: 100%;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: #B58F00;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }
    .todo {
        width:50%;
        height: 400px;
         
        
        display:block;
        position: absolute;
    display: flex;
        }
        
    .caja1 {
       
        width:100%;
        height: 400px;
        
        display: flex;
        flex-direction: column;
        
        }
        .caja1 p{
            width: 100%;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 10px;
           
        }
      
    
    .caja2 {
        position: absolute;
        width:100%;
        height: 400px;
        
        float:left;
      display: none;
    
        }
        .caja2 h1{
            text-align: center;
        }
        .caja2 form{
            width: 80%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
        }
        .caja2 form .eventos{
            width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        .caja2 form .eventos input[type="submit"]{
            width: 40%;
          
            border: none;
        }
        .caja2 form .eventos button{
            width: 40%;
            height: 35px;
          
        }
        .caja2 form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 5%;
        }
        .caja2 form textarea{
            margin-bottom: 20px;
        }
       
        .b1{
         display: none;
         
         
         
    
        }
/* fin de form */    
   
  

    .contact_box_1{
      width: 100%;
      height: 400px;
    }
    .contact_box_2{
        width: 100%;
      }
    header{
        display: block;
        position: relative;
    }
    aside{
        flex-wrap: wrap;
    }
    aside .banner1{
width: 100%;
    }
   
    aside .banner2{
        width: 100%;
       padding: 30px;
        background-color: #fed330;
    }
    aside .banner2 p{
        font-size: 25px;
        margin-bottom: 0;
    }
    aside .banner2 a{
        display: block;
        margin-top: 10px;
    }
    .row{
        width: 90%;
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .row article{
        width: 100%;
    }
    .branding{
        display: none;
    }
	body {
		padding-top:80px;
	}

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background-color: #0d0d08;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		
		font-size: 40px;
	}

	header nav {
		width: 100%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
        background-color: rgba(0, 0, 0, 0.8);
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}
}
